In [1]:
import pandas as pd
import warnings
from datetime import datetime
from generalize import *

warnings.filterwarnings('ignore')

raw_df = pd.read_csv('data.txt')

In [2]:
raw_df.head()

   user_id user_birthdate user_name user_money  user_discount  Unnamed: 5
0      101     01/05/1980     JoHn|      $1890           0.12         NaN
1      102     25/08/1975     Mi ke      $2555           0.09         NaN
2      103     01/03/1991  Cha rLi3       $754           0.00         NaN
3      104     10/06/1984      Jeff       $980           0.12         NaN
4      106     05/01/1988   P4trick      $3100           0.11         NaN

In [3]:
#search = raw_df[raw_df['user_name'].str.contains('Lucas')]
search = raw_df.query('user_name == "Lucas"')
search

   user_id user_birthdate user_name user_money  user_discount  Unnamed: 5
7      110     03/07/1995     Lucas      $4200           0.18         NaN
8      110     03/07/1995     Lucas      $4200           0.18         NaN

In [4]:
store_patterns = [
    ('JoHn|', 'John'), ('Mi ke','Mike'), ('Cha rLi3', 'Charlie'), 
    ('P4trick','Patrick'), ('Ma.tt', 'Matt'), ('jAmes', 'James')
    ]

In [5]:
df = raw_df

df.drop_duplicates(inplace=True)
df = df.drop(columns=['Unnamed: 5'])

df.rename(columns={
    'user_id':'ID', 
    'user_birthdate':'Birthdate',
    'user_name':'Name',
    'user_money':'Balance',
    'user_discount':'Discount'
    }, inplace=True)

df['Birthdate'] = pd.to_datetime(df['Birthdate'])

df['Name'] = generalize(df['Name'], store_patterns)

df['Balance'] = (df['Balance']
    .str.findall(r'\d+')
    .str.join('')
    .astype(int))

df = (df
    .query('Balance > 4000' or 'Discount > 0.20')
    .sort_values(by='Balance', ascending=False)
    .reset_index(drop=True))

df['Discount'] = (df['Discount']
    .mul(100)
    .round(2)
    .astype(str)
    .add('%'))

df.head()

    ID  Birthdate   Name  Balance Discount
0  109 1975-07-23  James     8500    23.0%
1  110 1995-03-07  Lucas     4200    18.0%